<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.agentrg.Adidas_mPosPrototype">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenu.SalesActivity" />
        <activity android:name=".MainMenu.BOHActivity" />
        <activity android:name=".MainMenu.ClientsActivity" />
        <activity android:name=".MainMenu.SalesMenu.Transactions" />
        <activity android:name=".MainMenu.Clients.ClientList" />
        <activity android:name=".MainMenu.BOH.Inventory" />
        <activity android:name=".MainMenu.SalesMenu.purchase"></activity>
    </application>

</manifest>